<a href="/new">Add a todo</a>
<h1>Get this stuff done:</h1>

{{#each todos}}
  {{!-- This is a single todo --}}
  <p>
    <form action="/{{id}}/toggle" method="POST">
      <input type="checkbox" name="finished"
      value="yeah it is done"
      {{#if isdone}}
        checked
      {{/if}}
      >
      <a href="/{{id}}">{{title}}</a>
    </form>
  </p>
{{/each}}

<script>
  let forms = document.querySelectorAll('form');
  forms.forEach((form) => {
    form.querySelector('[type="checkbox"]')
      .addEventListener('click', (e) => {
        form.submit();
      });
  });
</script>