<form action="" method="POST">
  <label for="">username:
    <input type="text" name="username">
  </label>
  <br>
  <label for="">password:
    <input type="password" name="password">
  </label>
  <br>
  <input type="submit">
</form>